[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
innodb_buffer_pool_size = 4G
innodb_buffer_pool_instances = 24
innodb_buffer_pool_chunk_size = 128M
query_cache_type = 1
query_cache_limit = 256K
query_cache_min_res_unit = 2k
query_cache_size = 64M
max_connections=2000
wait_timeout=300
